#ifndef ENV_H
#define ENV_H

#define CYCLE_TIME_SEC 300 //measurements interval

#define WIFI_SSID "actual_wifi_name"
#define WIFI_PASSWORD "actual_wifi_password!"

#define LOG_SERVER_HOST "192.168.1.10"
#define LOG_SERVER_PORT 5000
#define LOG_SERVER_PATH "/logs"

#define TEST_SERVER_HOST "http://192.168.1.18"
#define TEST_SERVER_PORT 8000

#define INFLUXDB_HOSTNAME "actual_influxdb_hostname"
#define INFLUXDB_ORG_ID "actual_influxdb_orgid"
#define INFLUXDB_API_TOKEN "actual_influxdb_api_token"

#define WEATHER_UNDERGROUND_STATION_ID "station_ID"
#define WEATHER_UNDERGROUND_API_KEY "API_key"

#endif
